:root {
    --header-bg-color: #f2f3f5;
    --green-color: rgb(6, 183, 6);
    --red-color: rgb(249, 10, 10);
    --main-background-color: #ececec;
    --option-background-color: #f3f1f3;
}

.navItem-selected {
    border-top-left-radius: 0px;
    border-left: 3px solid #2abd67;
    background-color: #2abd6770;
    padding: 5px;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    height: 100%;
}

/* utility classes */
.hidden {
    visibility: hidden;
    position: absolute;
}

.show {
    display: block;
}

.close {
    display: none !important;
}


/* header */
header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-bg-color);
    gap: 5px;
    border-bottom: 3px solid green;
    grid-column-start: 1;
    grid-column-end: -1;
}

.check-logo {
    width: 50px;
}

/* navigation */

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.green-letters {
    color: var(--green-color);
}

nav {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#home_ul, #projects_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    row-gap: 10px;
    
}

nav ul h2 {
    align-self: flex-start;
    position: relative;
    right: 30px;
    border-bottom: 2px solid black;
    width: 100%;
}


nav ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    
}

nav ul li:hover {
    background-color: #ececec;
    cursor: pointer;
}

nav ul li img {
    width: 27px;
}

#projects_ul {
   gap: 30px;
}

#rename-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#project-form {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.density-icon {
    display: inline-block;
     margin-top: 5px;
}

.input_container {
    width: 80%;
}

input[type=text] {
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}

.form_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}


.submit_btn, .cancel_btn {
    padding: 5px;
    width: 70px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    font-weight: bold;
}
 
.submit_btn {
 background-color: var(--green-color);
}

.cancel_btn {
    background-color: var(--red-color);
}

/* add project */
#add-project {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    font-weight: bold;
   background-color: transparent;
   border: none;
   padding: 10px;
}

#add-project:hover {
    cursor: pointer;
    background-color: #ececec;
}

#todos-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0px;
}

.todos-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px;
}

.todos-item:hover {
    background-color: #ececec;
    cursor: pointer;
}


.project-option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--option-background-color);
    padding: 4px;
    border-radius: 10px;
    position: absolute;
    bottom: 40px;
    right: 20px;
}

#rename-project, #delete-project {
    padding: 5px;
}

#rename-project:hover, #delete-project:hover {
    background-color: #ebe8eb;
    
}

/* main */
main {
    grid-column-start: 2;
    grid-column-end: -1;
    padding: 30px 50px;
    background-color: var(--main-background-color);
}

#main-title_container {
    background-color: var(--green-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-title {
    color: white;
    font-size: 1.9rem;
    font-weight: bold;
    padding: 20px;
}

#todo-task {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
}

